@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  padding: 5rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.section__subtitle {
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-color);
  margin-bottom: 5rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.nav__logo a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
}

.link a:hover {
  color: #007BFF; 
  border-bottom: 2px solid #007BFF;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url("assets/bg-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .section__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--extra-light);
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
}

.header__content p {
  text-align: center;
}

.header__content button {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--extra-light);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.journey__container {
  background-color: var(--secondary-color);
}

.journey__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.country__card {
  background-color: var(--extra-light);
}

.country__name {
  padding: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-light);
  cursor: pointer;
}

.country__name i {
  font-size: 1.2rem;
}

.country__name span {
  font-style: italic;
}

.placebanner__container {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("assets/bg-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.placebanner__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.placebanner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.placebanner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.placebanner__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

.display__container {
  background-color: var(--secondary-color);
}

.display__container :is(.section__title, .section__subtitle) {
  color: var(--text-dark);
}

.display__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.display__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--extra-light);
  text-align: center;
}

.display__card i {
  font-size: 2rem;
  color: var(--primary-color);
}

.display__card h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__card p {
  font-size: 0.8rem;
  padding: 0 1rem;
  color: var(--text-dark);
}

.display__grid .grid-1 {
  grid-area: 1/1/3/3;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .section__container {
  display: grid;
  gap: 1.5rem;
  text-align: center;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social__icons i {
  padding: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

footer p {
  font-style: italic;
}

@media (min-width: 640px) {
  .nav__links {
    display: flex;
  }
}

header .section__container {
  justify-content: flex-start;
}

.header__content {
  max-width: 400px;
  align-items: flex-start;
}

.header__content p {
  text-align: left;
}

.journey__grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.display__grid {
  grid-template-columns: repeat(4, 1fr);
}

.display__card {
  gap: 0;
}

.display__card i {
  font-size: 1.75rem;
}

.display__card h4 {
  font-size: 1rem;
}

.display__card p {
  font-size: 0.7rem;
}

.foodbanner__container {
  background-image: linear-gradient(
      rgba(35, 71, 103, 0.5),
      rgba(35, 71, 103, 0.5)
    ),
    url("assets/food-1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foodbanner__container .section__container {
  padding: 10rem 1rem;
  display: flex;
  justify-content: center;
}

.foodbanner__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: var(--extra-light);
}

.foodbanner__content h2 {
  font-size: 2rem;
  font-weight: 400;
}

.foodbanner__content button {
  padding: 0.5rem 2rem;
  outline: none;
  border: 2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  cursor: pointer;
}

/*
* Đi đâu
*/
.main-content .section__container {
  padding: 0;
  max-width: unset;
}

.main-content .section__container .content__row {
  display: flex;
}

.main-content .section__container .content__row .content__column {
  padding: 1rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content .section__container .content__row .content__column h3 {
  margin-bottom: 1.5rem;
}

.main-content:nth-of-type(2n) .section__container .content__row {
  flex-direction: row-reverse;
}

/* Ảnh và bản đồ chung 1 khung hiển thị */
.map-and-image {
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.map-and-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.map-and-image iframe{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/* nút chuyển đổi ảnh và bản đồ */
.map-and-image label {
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.map-and-image label:hover {
  background-color: #0056b3;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Chuyển đổi button khi nhấn */
.map-and-image:has(input[type="checkbox"]) label:nth-child(1) {
  display: inline;
}
.map-and-image:has(input[type="checkbox"]) label:nth-child(2) {
  display: none;
}
.map-and-image:has(input[type="checkbox"]:not(:checked)) label:nth-child(1) {
  display: none;
}
.map-and-image:has(input[type="checkbox"]:not(:checked)) label:nth-child(2) {
  display: inline;
}

/* Chuyển đổi ảnh và bản đồ khi click vào nút */
.map-and-image [type="checkbox"]:checked + img {
  display: block;
}
.map-and-image [type="checkbox"]:checked + iframe {
  display: none;
}

.map-and-image [type="checkbox"]:not(:checked) + img {
  display: none;
}
.map-and-image [type="checkbox"]:not(:checked) + iframe {
  display: block;
}